{% extends "base.html.twig" %}

{% block title %}DeckOfCards{% endblock %}

{% block body %}
    <h1>DeckOfCards52 - Shuffled</h1>


    <div class="api-container">

    <pre>
        {{ dump(deckofcardsobjshuffle) }}

    </pre>


    <div class="deck-container" style="font-size: 100px;">
    {% for card in deckofcardsobjshuffle.getCards() %}
        <span class="card {{ card.getColor() }}"> {{ card.getCardAsUnicode() }} </span>
    {% endfor %}

    </div>
 <br> <br> <br>
    <br><br>

    <div class="deck-container" style="font-size: 30px;">
    {% for card in deckofcardsobjshuffle.getCards() %}
        <span class="card {{ card.getColor() }}"> {{ card.getValue() }} </span>
    {% endfor %}

    </div>
 <br> <br> <br>
    <br><br>



    <div style="font-size: 100px;">

    {{ deckofcardsu }}
    </div>

</div>
{% endblock %}