{% extends "base.html.twig" %}

{% block title %}Draw Cards{% endblock %}

{% block body %}
    <h1>Draw Cards</h1>


    <div class="api-container">

    <pre>
        {{ dump(updateddeck) }}

    </pre>

    {% if drawncards is not null %}
    <h1>Drawn Cards This Round:</h1>


    <div class="deck-container" style="font-size: 100px;">
    {% for card in drawncards %}

        <span class="card drawn-card {{ card.getColor() }}"> {{ card.getCardAsUnicode() }} </span>
    {% endfor %}
    </div>

    {% else %}
        {{ include('flash.html.twig') }}

    {% endif %}


 <br> <br> <br>

    <h1>Drawn Cards Overall:</h1>

    <div class="deck-container" style="font-size: 100px;">
    {% for card in updateddeck.getDrawnCards() %}
        <span class="card {{ card.getColor() }}"> {{ card.getCardAsUnicode() }} </span>
    {% endfor %}

    </div>
 <br> <br> <br>

    <h1>Remaining Cards:</h1>

    <div class="deck-container" style="font-size: 100px;">
    {% for card in updateddeck.getDeck() %}
        <span class="card {{ card.getColor() }}"> {{ card.getCardAsUnicode() }} </span>
    {% endfor %}

    </div>
</div>
{% endblock %}