{% extends "base.html.twig" %}

{% block title %}Blackjack Game{% endblock %}

{% block body %}
<h1>Blackjack Game</h1>

<div class="bird-blackjack-intro-container">
    <img class="bird-blackjack-intro" src="{{ asset('img/title-bird.svg') }}" alt="Blackjack Intro Bird">
    <pre class="bird-blackjack-speech-bubble">
                             "Good luck! You're going to need it."

⎽⎼⎻⎺
    </pre>
</div>

<form method="POST" action="next-round-init">
    <p>How many hands this round?</p>
    <p><input class="game-form game-number_of_hands" type="number" name="number_of_hands" id="number_of_hands" value="1" min="1" max={{maximum_hands}} step="1"></p>
    <p>Bet size:</p>
    <p><input class="game-form game-bet-size-form" type="number" name="bet_size" id="bet_size" value="100" readonly disabled></p>
    <p><input class="blackjack-button init-button" type="submit" name="do_it" value="Start Game"></p>
</form>

{{ include('flash.html.twig') }}

<p>Player: {{ dump(player) }}</p>
<p>Dealer:  {{ dump(dealer) }}</p>

{% endblock %}