{% extends "base.html.twig" %}

{% block title %}Rules{% endblock %}

{% block body %}
    <style>
    .title-bird {
        display: none;
    }
    </style>

    <h1>Blackjack Game Rules</h1>
    <br>


    <div class="doc-container">

        <div class="blackboard-container"

            {% if app.session.get('theme') == 'dark' %}
                <a href="{{ asset('img/blackboard-dark.svg') }}">
                    <img class="blackboard" src="{{ asset('img/blackboard5.svg') }}" alt="Blackboard SVG Dark Theme"/>
                </a>
            {% else %}

                     <a href="{{ asset('img/blackboard-dark.svg') }}">
                    <img class="blackboard" src="{{ asset('img/blackboard5.svg') }}" alt="Blackboard SVG Dark Theme"/>
                </a>

        {% endif %}

        <img class="blackboard-bird" src="{{ asset('img/title-bird.svg') }}" alt="Blackboard Bird Svg"/>

        <div class="blackboard-rules">
            <pre>
            <span class="blackboard-rubric">BIRD'S BLACKJACK-RULES</span>
            Both the dealer and player wager 100 chips each per hand - no exceptions
            Dealer must hit if hand is less than 17
            Dealer must stand if hand is greater than or equal to 17
            Dealer's and player's hands are evaluated equally
            Dealer's and player's hands interact equally with aces
            No bonuses for a clean Blackjack-hand (A♠<span class="red">K♥</span>) and the like:
            it's a beautiful hand, but it's treated and rewarded normally,
            for dealer and player alike
            200 for won hand, 100 for drawn, 0 for lost (slightly redundant)
            Game is concluded when the dealer or player has won all the chips

            Otherwise the normal <a href="https://en.wikipedia.org/wiki/Blackjack">Blackjack-rules</a> apply.
            </pre>
        </div>

        </div>

    </div>


{% endblock %}