{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .title-bird {
        display: none;
    }
</style>


<div class="lib-container">

    <h1>Books</h1>
    <div class="lib-container">

    <img class="library-bird2" src="{{ asset('img/title-bird.svg') }}" alt="Library Bird Svg"/>

    <div class="library-container">

    <table class="library-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.getTitle|e }}</td>
                <td>{{ book.getAuthor|e }}</td>
                <td>
                    <a class="edit-library-icon" href="{{ path('book_view_isbn', {'isbn': book.getISBN|e}) }}">{{ book.getISBN|e }}</a>
                </td>

                <td class="edit-library-td">
                    <a class="edit-library-icon" href="{{ path('book_update_isbn', {'isbn': book.getISBN|e}) }}" title="Edit">✏️</a>
                    <a class="edit-library-icon" href="{{ path('delete_book_view_isbn', {'isbn': book.getISBN|e}) }}" title="Delete">❌</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>


    </div>
            <a class="blackjack-button library-button" href="{{ path('create_book') }}">Add New Book</a>
    </div>

    </div>
</div>
{% endblock %}
