{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>API</h1>

    <h2 class="rubric">Current API-Routes:</h2>
    <div class="api-container">

    <p><a class="api-link" href="{{ path('api') }}">/api</a> - This very summation page, listing all the JSON-related routes. </p>

    <p><a class="api-link" href="{{ path('api/quote') }}">/api/quote</a> - JSON-GET-route offering up a random Groucho Marx-quote, the current date and the
    timestamp of the quote-generation. </p>
    <br>

    <p><a class="api-link2" href="{{ path('api/deck') }}">/api/deck</a> - JSON-GET-route showcasing new, ordered decks, including and excluding jokers, and misc details.</p>
    <br>

    <form class="api-post-form" action="{{ path('api/deck/shuffle') }}" method="post">
            <button class="api-link3" type="submit">
            /api/deck/shuffle
            </button>
        </form>
        <span class="post-req-span"> - JSON-POST-route shuffling, saving to session, and then returning a new 52-card deck, excluding jokers.</span><br><br>

        <form class="api-post-form" action="{{ path('api/deck/draw') }}" method="post">
            <button class="api-link3" type="submit">
            /api/deck/draw
            </button>
        </form>
        <span class="post-req-span"> -  JSON-POST-route where one random card is drawn from the api-draw-route-related deck-object retrieved from session (or from a new deck that subsequently gets established there if none exists). The drawn card and the remaining deck returned.</span><br><br>


        <form class="api-post-form" action="{{ path('api/deck/draw/number', {number: 2}) }}" method="post">
            <button class="api-link3" type="submit">
            /api/deck/draw/number
            </button>
        </form>
        <span class="post-req-span"> - JSON-POST-route where a given {number} of cards is drawn from the api-draw-route-related deck-object retrieved from session (or from a new deck that subsequently gets established there if none exists). 2 cards are drawn in this POST-request-pseudo-link. The drawn cards and the remaining deck returned.</span><br><br>

        <form class="api-post-form" action="{{ path('api/deck/deal/players/cards', {players: 5, cards: 5}) }}" method="post">
            <button class="api-link3" type="submit">
            /api/deck/deal/{players}/{cards}
            </button>
        </form>
        <span class="post-req-span"> - JSON-POST-route where a given #{players} are given #{cards} each, and then returns each player and their hands, as well as the remaining cards in the deck. (In the example-POST-request-pseudo-link provided it deals 5 cards each to 5 players.)</span><br><br>
</span>

</div>
{% endblock %}