<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/php-elephant.svg') }}">
        {% block stylesheets %}
            {% if app.session.get('theme') == 'dark' %}
                {{ encore_entry_link_tags('app-dark-theme') }}
            {% else %}
                {{ encore_entry_link_tags('app') }}
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {% if app.session.get('theme') == 'dark' %}
                {{ encore_entry_script_tags('app-dark-theme') }}
            {% else %}
                {{ encore_entry_script_tags('app') }}
            {% endif %}

            {% block importmap %}
                {% if app.session.get('theme') == 'dark' %}
                    {{ importmap('app-dark-theme') }}
                {% else %}
                    {{ importmap('app') }}
                {% endif %}
            {% endblock %}
        {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Bungee+Spice&family=Doto:wght@100..900&family=Genos:ital,wght@0,100..900;1,100..900&family=Gugi&family=Italiana&family=Kaisei+Decol&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kumar+One&family=Monofett&family=Monoton&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Raleway+Dots&family=Revalia&family=Rubik+Dirt&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Turret+Road:wght@200;300;400;500;700;800&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">
    </head>
    {% if app.session.get('theme') == 'dark' %}
        <body style="background-image: url({{ asset('img/background-dark3.jpg') }})">
    {% else %}
        <body style="background-image: url({{ asset('img/background-three.jpg') }})">
    {% endif %}


    <header>
    <div class="title">
    MVC
    <img class="title-bird" src="{{ asset('img/title-bird.svg') }}" alt="Title Bird">
    </div>

    {% set navlink_unicode_icon = app.session.get('theme') == 'dark' ? '✧' : '☁️' %}

    <nav>
            <a class="navlink" href="{{ path('home') }}">
                <span>{{ navlink_unicode_icon }}</span> Home
            </a>
            <a class="navlink" href="{{ path('about') }}">
                <span>{{ navlink_unicode_icon }}</span> About
            </a>
            <a class="navlink" href="{{ path('report') }}">
                <span>{{ navlink_unicode_icon }}</span> Report
            </a>
            <a class="navlink" href="{{ path('lucky') }}">
                <span>{{ navlink_unicode_icon }}</span> Lucky
            </a>
            <a class="navlink" href="{{ path('api') }}">
                <span>{{ navlink_unicode_icon }}</span> API
            </a>
            <a class="navlink" href="{{ path('cardlp') }}">
                <span>{{ navlink_unicode_icon }}</span> Card
            </a>
    </nav>

    <nav class="session-nav">
        <a class="session-navlink navlink-b-one" href="{{ path('session') }}">
        <img class="balloon-one" src="{{ asset('img/balloon1.svg') }}" alt="Balloon One">
        Session</a>

        <a class="session-navlink navlink-b-two" href="{{ path('session-delete') }}">
        <img class="balloon-two" src="{{ asset('img/balloon2.svg') }}" alt="Balloon Two">
        Delete Session</a>
    </nav>


    <nav class="toggle-theme">
    <a href="{{ path('toggle_theme') }}">
        {% if app.session.get('theme') == 'dark' %}
            <img class="toggle-icon theme-moon" src="{{ asset('img/toggle-moon2.svg') }}" alt="Toggle to Dark Theme">
        {% else %}
            <img class="toggle-icon theme-sun" src="{{ asset('img/toggle-sun.svg') }}" alt="Toggle to Light Theme">
        {% endif %}
    </a>
</nav>



    </header>
    <main class="main">
        {% block body %}
        {% block main %}
        {% endblock %}
        {% endblock %}
    </main>
    <footer>
         <a href="https://github.com/kh3rm/mvc-report/">
             <img class="github" src="{{ asset('img/github.svg') }}" alt="Github">
        </a>

    </footer>
    </body>
</html>
